@{
	ViewData["Title"] = "Dashboard";
	Layout = "PostJob_Layout";
}

				<div class="row">
					<div class="col-md-10 mx-auto d-block">
						<h4 class="h4-fluid text-primary">Find Job Seeker</h4>
						<div class="input-group border rounded-pill bg-white">
							<img class="img-fluid ml-3" src="~/JobProvider/Dashboard/images/search copy 2 (1).png" width="15" height="5">
							<input type="search" class="form-control border-0 small" placeholder="Search by Job Title, Qualification, Industry" aria-label="Search" aria-describedby="search-addon">
							<img class="img-fluid mr-5" src="~/JobProvider/Dashboard/images/icon filter.png" width="15" height="15">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 mx-auto d-block ">
						<div class="row">
							<div class="col-md-3">
								<button class="btn btn-block text-secondary bg-info rounded-pill mt-2">Location</button>
							</div>
							<div class="col-md-3">
								<button class="btn btn-block text-secondary bg-info rounded-pill mt-2">Experience</button>
							</div>
							<div class="col-md-3">
								<button class="btn btn-block text-secondary bg-info rounded-pill mt-2">Categorie</button>
							</div>
							<div class="col-md-3">
								<button class="btn btn-block text-secondary bg-info rounded-pill mt-2">Skills</button>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 mx-auto d-block mt-5 text-white text-center">
						<div class="row mt-2">
							<div class="col-md-3 bg-primary rounded ml-5 ">
								<h3 class="h4-fluid float-right">@TempData["interviewSheduled"]</h3>
								<img class="img-fluid float-left mt-2" src="~/JobProvider/Dashboard/images/Group 33988.png">
								Interviews<br> Scheduled

							</div>
							<div class="col-md-3 bg-primary rounded ml-5">
								<h3 class="h4-fluid float-right">127</h3>
								<img class="img-fluid float-left mt-2" src="~/JobProvider/Dashboard/images/icon.png">
								Application Recieved

							</div>
							<div class="col-md-3 bg-primary rounded ml-5">
								<h3 class="h4-fluid float-right">@TempData["listedJobs"]</h3>
								<img class="img-fluid float-left mt-2" src="~/JobProvider/Dashboard/images/icon (1).png">
								Total Jobs Posted

							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-11 mx-auto d-block mt-5">
						<img class="img-fluid" src="~/JobProvider/Dashboard/images/smiling-hr-employer-handshaking-successful-job-applicant-hiring-greeting 1.png">
					</div>
				</div>
			

