@model HireMeNow_MVC_Application.Models.Interview

@{
    ViewData["Title"] = "InterviewShedule";
	Layout = "PostJob_Layout";
}


						<div class="row">
							 <div class="col-md-10 mx-auto d-block border-top ">
								 <form method="post" >
									<div class="form-group text-dark">
										<label for="Job Title" ><h4>Job Title</h4></label>
										<input asp-for="Post" type="text" name="Post" placeholder="Select Jobtitle" class="form-control bg-light p-4 border-0 rounded " required="">
									</div>
									<div class="form-group text-dark p-1">
										<label for="Date"><h4>Date</h4></label>
										<img class="img-fluid float-right"   style="float:right" src="~/JobProvider/InterviewShedule/images/calendar (4) 1.png">
										<input asp-for="Date" type="date" id="datepicker" name="date" placeholder="Select Date" class="form-control bg-light p-4 border-0 rounded w-75 "required="">
									</div>
									<div class="form-group text-dark p-1">
										<label for="Time"><h4>Time</h4></label>
									<img class="img-fluid float-right" style="float:right" src="~/JobProvider/InterviewShedule/images/clock 1.png">
										<input asp-for="Time" type="time" name="time" placeholder=" Enter time" class="form-control bg-light p-4 border-0 rounded w-75"required="">
									</div>
									<div class="form-group text-dark p-2">
										<label for="Location"><h4>Location</h4></label>
									<img class="img-fluid float-right" style="float:right" src="~/JobProvider/InterviewShedule/images/location 1.png">
										<input asp-for="Location" type="text" name="location" placeholder="Enter location" class="form-control bg-light p-4 border-0 rounded mb-5 w-75"required="">
									</div>
									<p> @TempData["msg"] </p>
									<div class="form-group d-inline ">
										 <input class="btn  text-white mr-5 bg-primary text-white" type="submit" value="Send"></input>
										<label ><h5>Push Notification</h5></label>
										 <img class="img-fluid mr-5" src="~/JobProvider/InterviewShedule/images/Group 14.png">
										 <label><h5>Email Notifications</h5></label>
										<img class="img-fluid" src="~/JobProvider/InterviewShedule/images/Group 14.png">
									</div>
								</form>
							 </div>
						 </div>
					

