@model IEnumerable<HireMeNow_MVC_Application.Models.Interview>

@{
    
    Layout = "_PubLayout";
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2 bg-primary">
			<nav class="navbar  navbar-expand-md sidebar navbar-dark">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
  					<span class="navbar-toggler-icon bg-dark"></span>
  				</button>
 				<div class="collapse  navbar-collapse sidebar " id="collapsibleNavbar">
 					<ul class="list-group text-white list-unstyled">
 						<li class="list-group-item border-0 bg-primary">
 							<div class="w-75 mt-5 pb-2 pt-2 bg-secondary rounded-circle">
									<img class="img-fluid mx-auto d-block" src="~/JobProvider/SheduledInterviewList/images/cheerful-curly-business-girl-wearing-glasses 1.png" width="75" height="75">
 							</div>
 						</li>
 						<li>
 							<h4 class="h4-fluid text-center">Olivia<br>olivia@gmail.com</h4>
 						</li>
 						<li class="list-group-item border-0 bg-primary">
								<p><img src="~/JobProvider/SheduledInterviewList/images/dashboard 1.png">  Dash Board</p>
 						</li>
 						<li class="list-group-item border-0 bg-primary">
								<p><img src="~/JobProvider/SheduledInterviewList/images/suitcase 2.png">  Jobs</p>
 						</li>
		    			<li class="list-group-item border-0 bg-primary">
								<p><img src="~/JobProvider/SheduledInterviewList/images/application (1) 1.png">  Applications</p>
 						</li>
		   				<li class="list-group-item border-0 bg-primary">
								<p><img src="~/JobProvider/SheduledInterviewList/images/question (1) 1.png"> Interviews</p>
 						</li>
 						<li class="list-group-item border-0 bg-primary">
								<p><img src="~/JobProvider/SheduledInterviewList/images/message 1.png"> Messages</p>
 						</li>
		    
		    			<li class="list-group-item border-0 bg-primary">
								<p><img src="~/JobProvider/SheduledInterviewList/images/settings 1.png">  Settings</p>
 						</li>
		    			<li class="list-group-item border-0 bg-primary">
								<img class="img-fluid" src="~/JobProvider/SheduledInterviewList/images/add-group (1) 1 (1).png"><br>
			        		<span class="text-white">Add New</span>
		    			</li>
 					</ul>
 				</div>
 			</nav>
		</div>
		<div class="col-md-10 bg-light">
			<div class="row bg-white">
				<div class="col-md-10 ">
					<h4 class="h4-fluid mt-3 ">SHORT LIST</h4>
					
				</div>
				<div class="col-md-2 content-justify-right">
						<img class="img-fluid " src="~/JobProvider/SheduledInterviewList/images/Group 5689.png">
						<img class="img-fluid" src="~/JobProvider/SheduledInterviewList/images/Group 33999.png">
				</div>
			</div>
			<div class="row ">
				<div class="col-md-8 bg-white border rounded-pill  ml-2">
					<div class="input-group ">
							<img class="img-fluid" src="~/JobProvider/SheduledInterviewList/images/search copy 2.png" width="10" height="5">
						<input  type="search" class="form-control border-0 " placeholder="Search by Job Title, Interview Date" aria-label="Search" aria-describedby="search-addon">
							<img class="img-fluid" src="~/JobProvider/SheduledInterviewList/images/icon filter.png" width="15" height="10">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-11 bg-white border rounded mx-auto mt-5 mb-5">
					<div class="row">
						<div class="row"></div>
						<div class="col-md-6   p-5">
							
							@foreach(var obj in Model)
								{
									<div class="row">
										<div class="col-md-12 pb-3 pt-3 ">
											<img class="img-fluid float-left pb-5" src="~/JobProvider/SheduledInterviewList/images/Company Logo (1).png">
											<h4 class="h4-fluid">@obj.Post</h4>
											<p>
												Date Of Interview : @obj.Date<br>
												Location/Online:@obj.Location<br>
												Time:@obj.Time
											</p>
											<button class="btn bg-primary text-white mx-auto d-block">View</button>
										</div>

									</div>
								}

							</div>
					<div class="col-md-6 pb-5 mt=5">
									<img class="img-fluid" src="~/JobProvider/SheduledInterviewList/images/nice-meeting-businessmen 1.png">
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>		
	

</body>
</html>