@model IEnumerable<HireMeNow_MVC_Application.Models.Interview>

@{
    
	Layout = "PostJob_Layout";
}

<div class="row ">
	<div class="col-md-8 bg-white border rounded-pill  ml-2">
		<div class="input-group ">
			<img class="img-fluid" src="~/JobProvider/SheduledInterviewList/images/search copy 2.png" width="10" height="5">
			<input type="search" class="form-control border-0 " placeholder="Search by Job Title, Interview Date" aria-label="Search" aria-describedby="search-addon">
			<img class="img-fluid" src="~/JobProvider/SheduledInterviewList/images/icon filter.png" width="15" height="10">
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-11 bg-white border rounded mx-auto mt-5 mb-5">
		<div class="row">
			<div class="row">
				<a href="~/JobProvider/InterviewShedule" >Shedule Interview</a>
			</div>
			<div class="col-md-6   p-5">

				@foreach (var obj in Model)
				{
					<div class="row">
						<div class="col-md-12 pb-3 pt-3 ">
							<img class="img-fluid float-left pb-5" src="~/JobProvider/SheduledInterviewList/images/Company Logo (1).png">
							<h4 class="h4-fluid">@obj.Post</h4>
							<p>
								Date Of Interview : @obj.Date<br>
								Location/Online:@obj.Location<br>
								Time:@obj.Time
							</p>
							<button class="btn bg-primary text-white mx-auto d-block">View</button>
						</div>

					</div>
				}

			</div>
			<div class="col-md-6 pb-5 mt=5">
				<img class="img-fluid" src="~/JobProvider/SheduledInterviewList/images/nice-meeting-businessmen 1.png">
			</div>
		</div>
	</div>
</div>