@model HireMeNow_MVC_Application.Models.User

@{
    ViewData["Title"] = "MemberRegister";
	Layout = "PostJob_Layout";
}



			<div class="col-md-10 " style="background-color: #f5f5fa;">
				<div class="row">
					<div class="col-md-12 bg-white border-bottom p-2">
						<img class="img-fluid float-right pl-4" src="~/CompanyAssets/image/Group 33999.png">
						<img class="img-fluid float-right" src="~/CompanyAssets/image/notification-bing.png">
					</div>
				</div>
				<div class="row pt-5">
					<div class="col-md-6 text-right ">
						<a class="text-dark " href="#"><h4>Remove Member</h4></a>
					</div>
					<div class="col-md-6 text-left">
						<a class="text-dark" href="MemberListing"><h4>List Of Members</h4></a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-9 p-5 mx-auto d-blok border rounded bg-light mb-5">
						<div class="row">
							<div class="col-md-12">
								<h3 class="h1 fluid text-center p-2">Registration Of New Member</h3>
							</div>
						</div>
						<form method="post">
							<div class="row mt-3 ">
								<div class="col-md-5 ml-5 ">
									<div class="form-group">
										<label><strong>First Name</strong></label><br>
										<input asp-for="FirstName" id="fname" class="form-control border-dark" type="text" name="fname" placeholder="Please enter first name" required><br>
										<span asp-validation-for=" FirstName"></span>
									</div>
									<div class="form-group">
										<label><strong>Email</strong></label><br>
										<input asp-for="Email" class="form-control border-dark" type="text" name="email" placeholder="Enter Email" required><br>
										<span asp-validation-for=" Email"></span>
									</div>
									<div class="form-group">
										<label><strong>Designation</strong></label><br>
										<input asp-for="Designation" class="form-control border-dark" type="text" name="designation" placeholder="Please enter Designation" required><br>
									</div>
									<div class="form-group">
										<label><strong>Password</strong></label><br>
										<input asp-for="Password" class="form-control border-dark" type="password" name="password" placeholder="Password" required><br>
										<span asp-validation-for="Password"></span>
									</div>
								</div>

								<div class="col-md-5 ml-2 ">
									<div class="form-group">
										<label><strong>LastName</strong></label><br>
										<input asp-for="LastName" class="form-control border-dark" type="text" name="lname" placeholder="Please enter Last name"><br>
										
									</div>
									<div class="form-group">
										<label><strong>PhoneNumber</strong></label><br>
										<input asp-for="Phone" class="form-control border-dark" type="text" name="phone" placeholder="phone Number" required><br>
										<span asp-validation-for="Phone"></span>
									</div>
									<div class="form-group">
										<label><strong>UserID</strong></label><br>
										<input asp-for="UserId" class="form-control border-dark" type="text" name="userid" placeholder="Please enter User ID" required><br>
										<span asp-validation-for="UserId"></span>
									</div>

									<div class="form-group">
										<label><strong>ConfirmPassword</strong></label><br>
										<input asp-for="ConfirmPassword" class="form-control border-dark" type="password" name="password" placeholder="Confirm Password" required><br>
										<span asp-validation-for=" ConfirmPassword"></span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-10 mx-auto d-block">
									<button class="btn  bg-primary mx-auto d-block">REGISTER</button>
								</div>
							</div>
							<p> @TempData["message"]</p>
						</form>

					

					</div>
				</div>
			</div>
		

